@using TimeManager.WebApp.Extensions
@using TimeManager.Common.Entities
@model TimeManager.Common.Entities.Cliente

@{
    ViewBag.Title = "Editar cliente";
}
@section Breadcrumb{
    <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Cliente", "Index", "Cliente")</li>
    <li class="breadcrumb-item active">Editar</li>
}

<div class="row">
    <div class="col-sm-12 col-lg-3">
        <div class="card text-white bg-primary mb-0">
            <div class="card-header"><h4><i class="fa fa-user-plus"></i>&nbsp;Cliente</h4></div>
            <div class="card-body">
                <h5>Editar el cliente</h5>
                <p class="card-text">Ingrese la información necesaria para crear un cliente.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-9">
        @using (Html.BeginForm("Edit", "Cliente", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FechaRegistro)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EsActivo, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-sm-3">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.EsActivo, Html.OptionsForBoolean(model => model.EsActivo), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EsActivo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Guardar cambios" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Volver", "Index")
</div>
